*{
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
    font-family: sans-serif,'Poppins';
}


.bbody{
    width: 100%;
    height: 100vh;
    background-color: #799487;
    
    position: relative;
    color:rgb(235, 233, 241);
    border: 20px solid white;
}
.navbar {
    background-color: rgba(15, 112, 202, 0.295);
    overflow: hidden;
    position: fixed;
    bottom: 5%;
    right: 1%;
    left: 1%;
    
    width: 98%;
  }
  .navbar a {
    float: left;
    display: block;
    color: #858591;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 17px;
  }
  .navbar a:hover {
    background-color: #ddd;
    color: rgba(230, 217, 217, 0.815);
  }
  .navbar a.active {
    background-color: #05042b;
    color: white;
  }  
  .button {
    background-color: rgb(229, 226, 231);
    color: rgb(5, 5, 5);
    padding: 10px;
    color:white;
    box-sizing: border-box;
    font-size: 15px;
    background-color: #0464c5;
    font-family: tahoma;
    border: none;
    border-radius: 10px;
    letter-spacing: 2px;
    cursor: pointer;
    text-decoration: none;
    margin-right: 10px;
    box-sizing: border-box;
}

.view-button {
  background-color: darkgray;
  border-color: darkgray;
  border-radius: 3px;
  font-size: 20px;
  color: white;
  padding: 5px;
  border: none;
}
.clipboard {
  border: 0;
  padding: 15px;
  border-radius: 3px;
  background-image: linear-gradient( 135deg, #FDEB71 10%, #F8D800 100%);
  cursor: pointer;
  color: #0e0ed4;
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  position: relative;
  top: 0;
  transition: all .2s ease;
  
}
.picRight{
  float :right;
  margin-left: 20px;
}
.trans{
  color:rgb(35, 94, 223);
  background-color: transparent;
}
::placeholder {
  color: white;
}
p{
  float :left;
  margin-left: 20px;
}