
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="homejs.js" defer></script>
  <link rel="stylesheet" href="style.css">
  
  <title>Home</title>
 
  
 
</head>
<body  >

 <h1 align="center">HOME PAGE</h1>
 <br><br>
 <a href="/room" id="create-btn" class="button" >Create room</a>
 <br><br><br>
 <input type="text" placeholder="Enter URL" id="my">
 <button id="join">join</button> <p id="msg" ></p>

  
  

  
</body>
</html>